/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* Common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}

.btnPrimary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* Navigation related styles */
nav, nav > ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

nav{
    margin: 0 200px;
}

.btnPrimary{
    background-color: #FD6E0A;
}

.navTitle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: #474747;
}

/* Header Related Styles */
.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
}