/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* Common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}

.btnPrimary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* Navigation related styles */
nav, nav > ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

nav > h3 > span{
    color: #FD6E0A;
}

nav{
    margin: 0 200px;
}

.btnPrimary{
    background-color: #FD6E0A;
}

.navTitle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: #474747;
}

.sectionTitle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.sectionDescription{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* Header Related Styles */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profilePic{
    width: 500px;
}

.bannerGreeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.bannerTitle{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bannerContent{
    max-width: 500px;
}

/* Main Section Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* About Section Styles */
.about{
    padding: 130px;
    margin: 130px 0;
}

.aboutInfoContainer{
    display: flex;
    justify-content: space-around;
}

.aboutInfo{
    text-align: center;
}

.infoTitle{
    margin-bottom: 0;
}

.infoDescription{
    margin-top: 0;
}

/* Skills related styles */

#whatIDo{
    padding: 30px 150px;
}

.skillsContainer{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skillDescription{
    /* padding: 30px; */
    color: #757575;
}

/* Resume Section Styles */
.resumeColumnTitle{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resumeContainer{
    display: flex;
    gap: 50px;
}

.resumeContainer hr{
    margin: 30px 0;
}

.resumeItemTitle{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resumeItemInstitute{
    margin-bottom: 20px;
    margin-top: 0;
}

.resumeItemDescription, .resumeItemInstitute{
    color: #757575;
}

.downloadCV{
    text-align: center;
    margin-top: 50px;
}

/* Footer Styles */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.footerColumn{
    width: 50%;
}

.socialLinks a{
    margin-right: 25px;
}

.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}